.main-content {
    background-image: url("https://tmnguyen8.github.io/star-wars-rpg-game/assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
};
div{
    background-color: yellow;
}